<mat-card>
  <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && login()" >
    <h3 class="loginTitle">LOGIN STRANICA</h3>
    <mat-form-field>
      <input #usernameTag='ngModel' matInput type="text" placeholder="Korisničko ime" name="username" [(ngModel)]="username" required/>
      <mat-error *ngIf="loginForm.submitted && usernameTag.invalid">Ovo polje je obavezno</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input #passTag='ngModel' matInput type="password" placeholder="Lozinka" name="password" [(ngModel)]="password" required />
      <mat-error *ngIf="loginForm.submitted && passTag.invalid">Ovo polje je obavezno</mat-error>
    </mat-form-field>
    <button class="submitBtn" mat-flat-button type="submit">Uloguj se</button>
  </form>
  <br/>
  <div class="msg" *ngIf="message != '' ">
    {{ message }}
  </div>
  <br />
  <div>
    Ako nemate nalog, možete ga napraviti na stranici <button class="linkBtn" mat-button routerLink="/registration">registracija</button>
  </div>
</mat-card>