.divClass {
    margin-bottom: 2%;
    margin-top: 4%;
    text-align: center
}

.mat-tab-group {
    margin: 2%
}

table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}

h3 {
   text-align: center;
   color: grey; 
}