.mat-card {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.divClass {
    margin-bottom: 2%;
    margin-top: 4%;
    text-align: center
}

.addUserBtn {
    color: rgb(12, 161, 180)
}

.logoutClass {
    margin-left: 80%;
    margin-right: 2%;
}