<div class="divClass">
  <h1>Admin stranica</h1>
</div>

<mat-card *ngFor="let user of users">
  <p>{{user.name}}&nbsp;{{user.surname}}</p>
  <p>{{user.username}}</p>
  <p>{{user.email}}</p>
  <button mat-flat-button type="button" color="warn" (click)="delete(user._id)">Obriši</button>&nbsp;
  <span *ngIf="user.approved != true">
    <button mat-flat-button type="button" color="accent" (click)="accept(user._id)">Prihvati</button>&nbsp;
    <button mat-flat-button type="button" color="primary" (click)="reject(user._id)">Odbij</button>
  </span> 
</mat-card>