<mat-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h3 class="title">FORMA ZA PROMENU LOZINKE</h3>
    <mat-form-field>
      <input formControlName="oldPass" matInput type="password" placeholder="Stara lozinka" required />
      <mat-error *ngIf="oldPass.invalid">Unesite staru lozinku</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="newPass" matInput type="password" placeholder="Nova lozinka" required />
      <!-- <mat-error *ngIf="newPass.invalid">
        <span *ngIf="newPass.errors.required">Unesite novu lozinku</span>
        <span *ngIf="newPass.errors.pattern">
            Lozinka mora sadržati minimum 1 veliko slovo, 1 broj, 1 specijalni karakter, mora početi slovom i mora biti dužine najmanje 8 karaktera
        </span>
      </mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input formControlName="newPassCon" matInput type="password" placeholder="Potvrda nove lozinke" required />
      <!-- <mat-error *ngIf="newPassCon.invalid">
          <span *ngIf="newPassCon.errors.required">Potvrdite novu lozinku</span>
          <span *ngIf="newPassCon.errors.confirmationFailed">
              Potvrda mora biti ista kao nova lozinka
          </span>
      </mat-error> -->
    </mat-form-field>
    <div class="btnDiv">
      <button class="submitBtn" mat-flat-button type="submit">Pošalji zahtev</button>
      <button class="quitBtn" mat-stroked-button type="button" (click)="quit()">Odustani</button>
    </div>
  </form>
</mat-card>