.mat-card {
    margin-bottom: 0.5%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.infoDiv {
    background-color: rgb(191, 223, 252)
}

.titleDiv {
    text-align: center;
}

.div {
    margin-bottom: 2%
}

.mat-form-field {
    width: 100%;
    margin-top: 2%
}

.qDiv {
    background-color: beige
}


.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.example-radio-button {
    margin: 5px;
}

.submitBtn {
    background-color: rgb(191, 223, 252)
}


.btnDiv {
    margin: 2%;
}

.quitBtn {
    float: right;
}