<form>
  <mat-card class="infoDiv">
    <div class="titleDiv">
      <h2>Forma za popunjavanje ankete</h2>
    </div>
    <div>
      <mat-label class="staticInfo">Naziv ankete</mat-label>
      <h3>{{ poll.name }}</h3>      
    </div>
    <div>
      <mat-label>Osnovne informacije</mat-label>
      <h4>{{ poll.info }}</h4>
    </div>
  </mat-card>

  <div>
    <mat-card class="qDiv" *ngFor="let question of poll.questions; let i = index">
      <div>
        <mat-label>{{ question.questionTitle }}</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>Odgovor</mat-label>
          <textarea matInput [(ngModel)]="answers[i].answerTitle" name="answer[i]"></textarea>
        </mat-form-field>
      </div>
    </mat-card>
  </div>

  <div class="btnDiv">
      <button class="submitBtn" type="button" mat-flat-button color="accent" (click)="submit()">Sačuvaj</button>&nbsp;
      <button class="quitBtn" type="button" mat-flat-button (click)="quit()">Odustani</button>
  </div> 
</form>
