.regTitle {
    text-align: center;
}


.mat-card {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

.mat-form-field {
    width: 100%;
}

.submitBtn {
    background-color: rgb(12, 161, 180);
    color: white
}

.linkBtn {
    color:  rgb(12, 161, 180);
}

.alert {
    color: goldenrod;
}