.mat-card {
    margin-bottom: 2%;
    margin-top: 2%;
    /* margin-left: 0.1rem;
    margin-right: 0.1rem; */
}

.mat-form-field {
    width: 100%;
}

.deleteBtn {
    margin-left: 95%
}

.optionField {
    width: 90%;
}

.selectField {
    width: 25%;
}

.addBtnDiv {
    margin-top: 3%;
}
