<div>
    <form [formGroup]="questionForm">
      <div formArrayName="questions">
        <mat-card [formGroupName]="i" *ngFor="let question of getQuestions(questionForm); let i = index">

          <mat-form-field appearance="outline">
            <mat-label>Pitanje</mat-label>
            <textarea matInput formControlName="questionTitle" required></textarea>
          </mat-form-field>

          <mat-form-field class="selectField">
            <mat-label>Tip pitanja</mat-label>
            <mat-select formControlName="answerType" required>
              <mat-option></mat-option>
              <mat-option>Unos numeričke vrednosti</mat-option>
              <mat-option>Unos kratkog teksta</mat-option>
              <mat-option>Unos dugačkog teksta</mat-option>
              <mat-option>Izbor jednog od više ponuđenih odgovora</mat-option>
              <mat-option>Izbor više od više ponuđenih odgovora</mat-option>
            </mat-select>
          </mat-form-field>

          <div formArrayName="options">
            <div [formGroupName]="j" *ngFor="let option of getOptions(question); let j = index">
              <mat-form-field class="optionField" appearance="outline">
                <mat-label>Ponuđeni odgovor</mat-label>
                <input matInput formControlName="optionTitle">
              </mat-form-field>
              &nbsp;
              <button type="button" mat-flat-button (click)="removeOption(i, j)">Izbriši opciju</button>
            </div>
          </div>
          <button type="button" mat-flat-button color="primary" (click)="addOption(i)">Dodaj ponuđeni odgovor</button> &nbsp;&nbsp;
          <button type="button" mat-flat-button color="warn" (click)="removeQuestion(i)">Izbriši pitanje</button>
        </mat-card>
      </div>

      <div class="addBtnDiv">
        <button type="button" mat-flat-button color="accent" (click)="addQuestion()">Dodaj pitanje</button> 
      </div>
    </form>
  </div>





