<div class="formDiv">
  <form [formGroup]="questionForm" (ngSubmit)="submit()">
    <mat-card class="infoDiv">
      <div class="titleDiv">
        <h2>Forma za kreiranje ankete</h2>
      </div>
      <table>
          <tr>
              <td>Naziv ankete</td>
              <td>
                  <mat-form-field>
                      <input matInput formControlName="name">
                  </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>Osnovne informacije</td>
              <td>
                  <mat-form-field>
                      <textarea matInput formControlName="info"></textarea>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>Datum od kada se može rešavati anketa</td>
              <td>
                  <mat-form-field>
                      <input matInput formControlName="startDate" [matDatepicker]="dp1" disabled>
                      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>Datum do kada se može rešiti anketa</td>
              <td>
                  <mat-form-field>
                      <input matInput formControlName="endDate" [matDatepicker]="dp2" disabled>
                      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                      <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                  </mat-form-field>
              </td>
          </tr>
      </table>
    </mat-card>

    <div formArrayName="questions">
      <mat-card [formGroupName]="i" *ngFor="let question of getQuestions(questionForm); let i = index">

        <mat-form-field appearance="outline">
          <mat-label>Pitanje</mat-label>
          <textarea matInput formControlName="questionTitle" required></textarea>
        </mat-form-field>

        <mat-form-field class="selectField">
          <mat-label>Tip pitanja</mat-label>
          <mat-select formControlName="questionType" required>
            <mat-option></mat-option>
            <mat-option value="number">Unos numeričke vrednosti</mat-option>
            <mat-option value="input">Unos kratkog teksta</mat-option>
            <mat-option value="textarea">Unos dugačkog teksta</mat-option>
            <mat-option value="radiobutton">Izbor jednog od više ponuđenih odgovora</mat-option>
            <mat-option value="checkbox">Izbor više od više ponuđenih odgovora</mat-option>
          </mat-select>
        </mat-form-field>

        <div formArrayName="options">
          <div [formGroupName]="j" *ngFor="let option of getOptions(question); let j = index">
            <mat-form-field class="optionField" appearance="outline">
              <mat-label>Ponuđeni odgovor</mat-label>
              <input matInput formControlName="optionTitle">
            </mat-form-field>
            &nbsp;
            <button type="button" mat-flat-button (click)="removeOption(i, j)">Izbriši opciju</button>
          </div>
        </div>
        <button type="button" mat-flat-button color="primary" (click)="addOption(i)">Dodaj ponuđeni odgovor</button> &nbsp;&nbsp;
        <button type="button" mat-flat-button color="warn" (click)="removeQuestion(i)">Izbriši pitanje</button>
      </mat-card>
    </div>

    <button class="addBtnDiv" type="button" mat-flat-button color="accent" (click)="addQuestion()">Dodaj pitanje</button> &nbsp;&nbsp;
    <button type="submit" mat-flat-button color="accent">Sačuvaj</button>   
  </form>
</div>

<!-- delete after testin -->

<br/><br/><br/><br/>
<!-- {{questionForm.name}}
<br/>
{{questionForm.info}}
<br/>
{{questionForm.startDate}}
<br/>
{{questionForm.endDate}}
<br/>
{{questionForm.questions}} -->

<pre>{{questionForm.value | json}}</pre>





