.formDiv {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.titleDiv {
    text-align: center
}

.infoDiv {
    background-color: pink
}


.mat-card {
    margin-bottom: 2%;
    margin-top: 2%;
}

.mat-form-field {
    width: 100%;
}

.questionDiv {
    display: flex;
    width: 100%;
}

.questionTitle {
    width: 90%;
    margin-right: 0.5%;
}

.deleteBtn {
    float: right;
    margin: 2%;
}


.btnDiv {
    margin-top: 5%;
}

.addBtn {
    background-color: rgb(12, 161, 180);
    color: white;
}

.btnSubDiv {
    float: right;
}





