<div class="formDiv">
  <form [formGroup]="questionForm" (ngSubmit)="submit()">
    <mat-card class="infoDiv">
      <div class="titleDiv">
        <h2>Forma za kreiranje ankete</h2>
      </div>
      <table>
          <tr>
              <td>Naziv ankete</td>
              <td>
                  <mat-form-field>
                      <input matInput formControlName="name" required>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>Osnovne informacije</td>
              <td>
                  <mat-form-field>
                      <textarea matInput formControlName="info" required></textarea>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>Datum od kada se može rešavati anketa</td>
              <td>
                  <mat-form-field>
                      <input matInput formControlName="startDate" [matDatepicker]="dp1" disabled required>
                      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>Datum do kada se može rešiti anketa</td>
              <td>
                  <mat-form-field>
                      <input matInput formControlName="endDate" [matDatepicker]="dp2" disabled required>
                      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                      <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
            <td>Tip ankete</td>
            <td>
              <mat-form-field>
                <mat-label>Izaberite tip</mat-label>
                <mat-select formControlName="pollType" required>
                  <mat-option></mat-option>
                  <mat-option value="anonymous">Anonimna</mat-option>
                  <mat-option value="personal">Personalizovana</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
      </table>
    </mat-card>

    <div formArrayName="questions">
      <mat-card [formGroupName]="i" *ngFor="let question of getQuestions(questionForm); let i = index">
        <div class="questionDiv">
          <mat-form-field class="questionTitle" appearance="outline">
            <mat-label>Pitanje</mat-label>
            <textarea matInput formControlName="questionTitle" required></textarea>
          </mat-form-field>
          <button type="button" mat-button color="warn" (click)="removeQuestion(i)">Izbriši pitanje</button>
        </div>
      </mat-card>
    </div>

    <div class="btnDiv">
      <button class="addBtn" type="button" mat-flat-button (click)="addQuestion()">Dodaj pitanje</button> 
      <div class="btnSubDiv">
        <button type="submit" mat-flat-button color="accent">Sačuvaj</button>&nbsp;&nbsp;  
        <button type="button" mat-button (click)="quit()">Odustani</button> 
      </div>
    </div>
  </form>
</div>









