<div class="formDiv">
  <form [formGroup]="questionForm" (ngSubmit)="submit()">
    <mat-card class="infoDiv">
      <div class="titleDiv">
        <h2>Forma za kreiranje testa</h2>
      </div>
      <table>
          <tr>
              <td>Naziv testa</td>
              <td>
                  <mat-form-field>
                      <input matInput formControlName="name" required>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>Osnovne informacije</td>
              <td>
                  <mat-form-field>
                      <textarea matInput formControlName="info" required></textarea>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>Datum od kada se može rešavati test</td>
              <td>
                  <mat-form-field>
                      <input matInput formControlName="startDate" [matDatepicker]="dp1" disabled required>
                      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
              <td>Datum do kada se može rešiti test </td>
              <td>
                  <mat-form-field>
                      <input matInput formControlName="endDate" [matDatepicker]="dp2" disabled required>
                      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                      <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
            <td>Trajanje testa u minutima (maksimalno 3 minuta)</td>
            <td>
                <mat-form-field>
                    <input matInput type="number" formControlName="duration" max="3">
                </mat-form-field>
            </td>
          </tr>
      </table>
    </mat-card>

    <div formArrayName="questions">
      <mat-card [formGroupName]="i" *ngFor="let question of getQuestions(questionForm); let i = index">

        <mat-form-field appearance="outline">
          <mat-label>Pitanje</mat-label>
          <textarea matInput formControlName="questionTitle" required></textarea>
        </mat-form-field>

        <mat-form-field class="pointsField" appearance="outline">
          <mat-label>Broj bodova</mat-label>
          <input type="number" matInput formControlName="points" required>
        </mat-form-field>

        <div class="explanationDiv">
          Dodajte ponuđene odgovore i označite tačan.
        </div>

        <div formArrayName="options">
          <div [formGroupName]="j" *ngFor="let option of getOptions(question); let j = index" class="options">
            <mat-form-field class="optionTitle" appearance="outline">
              <mat-label>Ponuđeni odgovor</mat-label>
              <input matInput formControlName="optionTitle">
            </mat-form-field>

            <mat-form-field class="optionSelect">
              <mat-label>Tačno?</mat-label>
              <mat-select formControlName="isCorrect" required>
                <mat-option></mat-option>
                <mat-option value="yes">Tačno</mat-option>
                <mat-option value="no">Netačno</mat-option>
              </mat-select>
            </mat-form-field>
            
            <button type="button" mat-button (click)="removeOption(i, j)" class="optionDeleteBtn">Izbriši opciju</button>
          </div>
        </div>
        <button type="button" mat-flat-button color="primary" (click)="addOption(i)">Dodaj ponuđeni odgovor</button> &nbsp;&nbsp;
        <button type="button" mat-flat-button color="warn" (click)="removeQuestion(i)">Izbriši pitanje</button>
      </mat-card>
    </div>

    <button class="addBtnDiv" type="button" mat-flat-button color="accent" (click)="addQuestion()">Dodaj pitanje</button> &nbsp;&nbsp; 
    <button type="submit" mat-flat-button color="accent">Sačuvaj</button> &nbsp;&nbsp;
    <button type="button" mat-flat-button (click)="quit()">Odustani</button>
  </form>
</div>





